* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carcurator {
    width: 287px;
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
}

.carcurator form {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
    
}

.carcurator form input {
    border: 2px solid #333;
    cursor: pointer;
    font-size: 19px;
}

.carcurator form input:hover{
    box-shadow: 1px 1px 2px #333;
}

.carcurator form .clear {
    background-color: #ed4848;
}

.carcurator form .operator {
    background-color: orange;
}

.carcurator form .doc {
    background-color: green;
}

.carcurator form input[type="text"]{
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
}

.carcurator form .clear{
    grid-column: span 3;
}

.carcurator form .result{
    grid-column: span 2;
}